Package: pgdbsc
Architecture: all
Version: %version%
Depends: mono-runtime (>= 2.10.8.1), libmono-corlib4.0-cil (>= 2.10.8.1), libmono-system4.0-cil (>= 2.10.8.1), libmono-system-core4.0-cil (>= 2.10.8.1), libmono-microsoft-csharp4.0-cil (>= 2.10.8.1), libmono-system-data4.0-cil (>= 2.10.8.1), libmono-system-xml4.0-cil(>= 2.10.8.1), libmono-system-transactions4.0-cil (>= 2.10.8.1), libmono-security4.0-cil (>= 2.10.8.1)
Section: database
Priority: extra
Maintainer: Greg Najda <???@???.com>
Homepage: https://github.com/lhcgreg/dbsc
Description: Tool for version controlling PostgreSQL databases.
 pgdbsc (DataBase Source Control for PostGreSQL) is a tool for creating
 and updating PostgreSQL databases. pgdbsc uses numbered scripts written
 in SQL that can be stored in source control. You can use pgdbsc to create
 a database by running the scripts in order. You can also update a database
 to a newer revision after adding scripts. pgdbsc stores the current
 revision of the database in a metadata table. When creating or updating
 a database, you can import data from another database that was created
 using pgdbsc, which is useful for getting test data into a development
 database.
