<?xml version="1.0" encoding="utf-8" ?>
<!-- This is the WiX file defining the installer bundle that installs .NET 4.0 and pgdbsc. -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <!-- -ext WiXNetFxExtension -->
  <!-- -ext WixBalExtension -->
  <Bundle Manufacturer="Greg Najda" Name="DBSC for PostgreSQL 2.0.0" UpgradeCode="{2ECC4D5B-3A06-4E93-82EA-3051DB81BD3C}" Version="2.0.0">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication SuppressOptionsUI="yes" LicenseUrl="" />
      <!-- license is already in the main msi-->
    </BootstrapperApplicationRef>
    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      <MsiPackage Id="pgdbscPackage" EnableFeatureSelection="yes" SourceFile="installer.msi" DisplayInternalUI="yes" />
    </Chain>
  </Bundle>
</Wix>